@media (max-width: 700px) {
    header{
        width: 100%;
        padding: 15px 35px;
        position: fixed;
        z-index: 999;
        justify-content: space-between !important;
    }
    header h2{
        font-size: 1.6em;
        text-transform: uppercase;
    }
    header nav{
        display: none;
    }
    header #btn-sider{
        display: block;
        color: var(--w);
        cursor: pointer;
        font-size: 20px;
    }

    aside{
        width: 260px;
        height: 100vh;
        position: fixed;
        top: 70px;
        left: -260px;
        padding: 12px;
    }
    aside.show{
        left: 0;
    }
    aside nav a{
        width: 100%;
        display: block;
        background-color: var(--sub);
        text-align: center;
        padding: 8px;
        color: var(--w);
        text-decoration: none;
        font-size: 18px;
        margin-bottom: 10px;
        border-radius: 8px;
        transform: translate(-300px, -300px) rotate(45deg);
        transition: 0.3s;
    }
    aside nav a:active{
        transform: scale(0.9);
        transition: none;
    }

    aside.show nav a{
        transform: translate(0) rotate(0deg);
        transition-delay: var(--i);
    }
}

@media (min-width: 700px) {
    header{
        width: 100%;
        padding: 12px 35px;
        position: fixed;
        z-index: 999;
        justify-content: space-around !important;
    }
    header h2{
        text-transform: uppercase;
    }
    header nav{
        display: flex;
        gap: 8px;
    }
    header nav a{
        color: var(--w);
        text-decoration: none;
        font-size: 18px;
        padding: 10px;
        font-weight: 600;
        position: relative;
    }
    header nav a::after{
        content: '';
        position: absolute;
        width: 0;
        height: 3px;
        background-color: var(--w);
        bottom: 0;
        left: 0;
        border-radius: 2px;
        transition: linear 0.3s;
    }
    header nav a:hover::after{
        width: 100%;
    }
    header #btn-sider,
    aside{
        display: none;
    }
}