.container h1{
    color: var(--w);
    font-size: 3em;
    text-transform: capitalize;
}

.container h1 span{
    text-transform: uppercase;
    color: var(--main);
}

#btn-sider{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: var(--main);
    padding: 10px;
    font-size: 20px;
    color: var(--w);
    text-align: center;
    cursor: pointer;
}

aside{
    position: fixed;
    width: 300px;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: -300px;
    z-index: 999;
    box-shadow: 0 0 10px var(--shd);
    padding: 30px 0;
}
aside.show{
    left: 0;
}
aside h1{
    color: var(--w);
    width: 100%;
    text-align: center;   
    font-size: 2em;
    text-transform: uppercase;
}

aside ul{
    margin: 30px 0 0 0;
    list-style: none;
}

aside ul li{
    padding: 1em;
    padding-left: 2em;
    font-size: 18px;
    text-transform: capitalize;
    color: var(--w);
    cursor: pointer;
}

aside ul li:hover,
aside ul li[class*=act]{
    color: var(--main);
    background-color: var(--w);
    margin-left: 20px;
    /* border-radius: 12px 0 0 12px; */
    padding-left: 1em;
}