@charset "utf8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: linear 0.3s;
}

html{
    direction: ltr;
    scroll-behavior: smooth;
}

:root{
    --main: #0073c0;
    --sub: #123456;
    --w: #fff;
    --b: #000;
    --shd: #00000088;
    --val: 8px;
}

@font-face {
    font-family: mainFont;
    src: url(BalooBhaijaan2-VariableFont_wght.ttf);
}

.f-cen{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.f-bet{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.f-ard{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.f-evn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.f-col{
    flex-direction: column;
}
.p0-5{
    padding: 0.5em;
}
.p1{
    padding: 1em;
}
.p1-5{
    padding: 1.5em;
}
.p2{
    padding: 2em;
}
.p2-5{
    padding: 2.5em;
}
.p3{
    padding: 3em;
}
.p4{
    padding: 4em;
}
.g0-5{
    gap: 0.5em;
}
.g1{
    gap: 1em;
}
.g1-5{
    gap: 1.5em;
}
.g2{
    gap: 2em;
}
.g2-5{
    gap: 2.5em;
}
.g3{
    gap: 3em;
}
.g4{
    gap: 4em;
}
.r0-5{
    border-radius: 0.5em;
}
.r1{
    border-radius: 1em;
}
.r1-5{
    border-radius: 1.5em;
}
.r2{
    border-radius: 2em;
}
.r2-5{
    border-radius: 2.5em;
}
.r3{
    border-radius: 3em;
}
.r4{
    border-radius: 4em;
}
.r50{
    border-radius: 50%;
}
.txt-w{
    color: #f1f1f1;
}
.txt-b{
    color: #1f1f1f;
}
.bg-w{
    background-color: var(--w);
}
.bg-b{
    background-color: var(--b);
}
.bg-main{
    background-color: var(--main);
}
.bg-sub{
    background-color: var(--sub);
}

.container{
    width: 100%;
    min-height: 100vh;
}

.btn{
    min-width: 120px;
    padding: 8px 16px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    background-color: var(--main);
    color: var(--w);
    border: 2px solid var(--w);
    text-decoration: none;
    outline: none;
}

.btn:hover{
    background-color: var(--sub);
    color: var(--main);
    border: 2px solid var(--main);
}